<!DOCTYPE html>
<html>
<head>
    <title>AI Quiz Generator</title>

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="side-card">

        <button onclick="loadHistory()" class="history-btn">View Past Quizzes</button>

        <div id="historyList"></div>

    </div>

    <div class="main-card">
        <h1>AI Quiz Generator</h1>


        <div class="mode-switch">
            <button onclick="setMode('file')" class="mode-btn active">File</button>

            <button onclick="setMode('link')" class="mode-btn">Link</button>
        </div>


        <div id="fileMode">
            <input type="file" id="fileInput">
        </div>


        <div id="linkMode" style="display:none">
            <input id="linkInput" placeholder="Paste URL">
        </div>

        <button onclick="generateNotes()" class="notes-btn">Generate notes</button>

        <div id="progressContainer" style="display:none; margin-top: 15px;">
            <progress id="uploadProgress" value="0" max="100" style="width: 100%;"></progress>
            <p id="progressText" style="text-align: center; font-size: 12px; color: #555;">Uploading... 0%</p>
        </div>

        <button onclick="generateQuiz()" class="generate-btn">Generate Quiz</button>


        <div id="quizContainer"></div>
    </div>


    <script src="/static/script.js"></script>


</body>
</html>